:root{
    --color-primary: #ff52bf;
    --color-secondary: #00252e;
    --color-accent: #808d99;
    --color-neutral: #ebfbff;
}



img {
    width: 100%;
    height: 500px;
    max-width: 570px;
    object-fit: contain;
    
}

/* Typography */
html {
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--color-secondary);
}

h1 {
    font-size: 4.3rem;
}

h2 {
    font-size: 3rem;
}
p {
    color: #728292;
}
/* Links */
.link {
    color: #000;
    text-decoration: none;

}

.link:hover {
    text-decoration: underline;
}

/* Icons */
.icon {
    color: white;
    display: inline-block;
    width: 3.1rem;
    height:3.1rem;
    border: 1px solid #fff;
    padding: 0.6rem;
    padding-left: 0.8rem;
    border-radius: 50%;
    transition: all 0.4s;
}
.icon:hover {
    color: #ff52bf;
    border-color: #ff52bf;
}

/* Buttons */
.btn {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    white-space: nowrap;
}

.btn--white{
    padding: 1.2rem 3rem;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0 rgb(209, 205, 205);
    color: black;
}
.btn--white:hover{
    background: rgb(243, 243, 243);
    color: rgb(87, 76, 76);
}

.btn--pink{
    font-size: 1.7rem;
    padding: 1.7rem 5.3rem;
    background: var(--color-primary);
    box-shadow: 4px -2px 50px 0 rgb(192, 185, 185);
    color: #fff;
}
.btn--pink:hover{
    background: #dd57ac; 
 }
 
 /* Lists */
 .list{
     padding: 0;
     list-style-type: none;
 }
 
 /* Containers */
 .container {
     max-width: 1240px;
     margin: 0 auto;
 }

 .container-2{
     max-width: 1200px;
     margin: 0 auto;
 }

 /* Header */
 .header {
   background-color: var(--color-neutral);
   background-image: url(../images/bg-hero-mobile.svg);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 0 3rem;
   
   
 }
 .header__nav {
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}

.header__hero {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    margin-top: 3rem;
    
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    margin-bottom: 0;
}

.hero__heading {
    letter-spacing: -1px;
    line-height: 1.3;
    margin: 0;
    margin-top: 2rem;
}

.hero__description {
    font-size: 2.3rem;
}

.hero__img {
   margin: 0 auto;
   margin-bottom: 2rem;
}

.nav__logo{
     width: 160px;
     height: 26px;
     object-fit: contain;
}

@media screen and (min-width: 900px) {
    .header {
        background-image: url(../images/bg-hero-desktop.svg);
    }
    .header__hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
       
    }

    .hero__content {
        text-align: left;
        align-items: flex-start;
        gap: 10px;
    }
    .hero__img{
        justify-self: flex-start;
    }
}

/* Cards */
.cards {
    margin-top: 7rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 4rem 3rem;
    padding: 3rem 5.4rem;
    box-shadow: 0 0 25px 1px rgb(219, 216, 216);
    text-align: center;
}
.card__img {
    width: 100%;
    height: 300px;
    max-width: 430px;
}
.card__header {
    margin-bottom: 0;
}
.card__description {
    font-size: 2rem;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        column-gap: 9rem;
        padding: 3rem 10rem;
    }
    .card:nth-of-type(odd) > .card__img {
        order: 2;
    }
}
