<main class="cards">
    <section class="container-2">
      <div class="card">
        <img
          class="card__img"
          src="images/illustration-grow-together.svg"
          alt=""
        />
        <div class="card__content">
          <h2 class="card__header">Grow Togerther</h2>
          <p class="card__description">
            Generate meaningful discussions with or audience and build a
            dtrong loyal community. Think of the insightful conversations you
            miss out on with a feedbck form.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card__img"
          src="images/illustration-flowing-conversation.svg"
          alt=""
        />
        <div class="card__content">
          <h2 class="card__header">Flowing Conversations</h2>
          <p class="card__description">
            You wouldn't paginate a conversation in real life, so why do it
            online? our thread have just in time loading for a more national
            flow.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card__img"
          src="images/illustration-your-users.svg"
          alt=""
        />
        <div class="card__content">
          <h2 class="card__header">Your Users</h2>
          <p class="card__description">
            It takes no time at all to integrate Huddle with your apps
            authentication solution. This means once signed in to your app
            your users can start chattig immediately.
          </p>
        </div>
      </div>
    </section>
  </main>