<footer class="footer">
  <section class="container">
    <img class="footer__img" src="images/logo2.svg" alt="" />
    <div class="footer__content">
      <div class="footer__contact">
        <div>
          <img
            class="footer__icon"
            src="images/icon-location.svg"
            alt=""
          />&nbsp;&nbsp;&nbsp;
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex numquam
            assumenda iste, eaque nulla aperiam impedit quas. Dolorem, earum?
          </p>
        </div>
        <div>
          <img
            class="footer__icon"
            src="images/icon-phone.svg"
            alt=""
          />&nbsp;&nbsp;&nbsp;
          <p>+1-543-123-4567</p>
        </div>
        <div>
          <img
            class="footer__icon"
            src="images/icon-email.svg"
            alt=""
          />&nbsp;&nbsp;&nbsp;
          <p>example@fylo.com</p>
        </div>
      </div>
      <div class="footer__list">
        <ul class="list">
          <li><a href="#" class="link">About Us</a></li>
          <li><a href="#" class="link">What We Do</a></li>
          <li><a href="#" class="link">FAQ</a></li>
        </ul>
      </div>
      <div class="footer__list">
        <ul class="list">
          <li><a href="#" class="link">Career</a></li>
          <li><a href="#" class="link">Blog</a></li>
          <li><a href="#" class="link">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer__socials">
        <div class="social__icons">
          <i class="fa-brands fa-facebook-f icon icon--face"></i>
          <i class="fa-brands fa-twitter icon icon--twitter"></i>
          <i class="fa-brands fa-instagram icon icon--insta"></i>
        </div>
        <p>&copy; copyright 2018 Huddle. All rights reserved.</p>
      </div>
    </div>
  </section>
</footer>
