<section class="header">
  <header class="container">
    <nav class="header__nav">
      <img class="nav__logo" src="images/logo.svg" alt="" />
      <button class="btn btn--white nav__button" type="submit">
        Try It Free
      </button>
    </nav>
    <section class="header__hero">
      <div class="hero__content">
        <h1 class="hero__heading">Build The Community Your Fans Will Love</h1>
        <p class="hero__description">
          Huddle re-imagines the way we build commmunities you have a voice, but
          so does your audience. create connections with your users as you
          engage in genuine discussion.
        </p>
        <button class="btn btn--pink" type="submit">
          Get Started For Free
        </button>
      </div>
      <img class="hero__img" src="images/illustration-mockups.svg" alt="" />
    </section>
  </header>
</section>
